<!DOCTYPE html>
<html lang="<%- locals.lang || 'en' %>">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<title><%- page_title %> | <%- APP_NAME %></title>
<link rel="icon" type="image/svg+xml" href="/images/favicon.svg"/>
<link rel="stylesheet" href="/libs/css/tabler.min.css"/>
<link rel="stylesheet" href="/libs/css/toastr.min.css"/>
<link rel="stylesheet" href="/libs/css/bootstrap-icons.min.css"/>
<link rel="stylesheet" href="/libs/css/select2.min.css"/>
<link rel="stylesheet" href="/libs/css/select2-bootstrap-5-theme.min.css"/>
<link rel="stylesheet" href="/css/auth.css"/>
<link rel="stylesheet" href="/css/phone-group.css"/>
<link rel="stylesheet" href="/css/auth-file-upload.css"/>
</head>
<body class="antialiased d-flex flex-column min-vh-100 bg-light">
<script src="/libs/js/jquery.min.js"></script>
<%- body %>


<script src="/libs/js/tabler.min.js"></script>
<script src="/libs/js/select2.min.js"></script>
<script src="/libs/js/jquery.validate.min.js"></script>
<script src="/libs/js/toastr.min.js"></script>

<!-- BASE_URL and globals must be defined BEFORE common utilities -->
<script>
var BASE_URL = '<%- locals.BASE_URL || "" %>';
var SMS_T_DICT = <%- locals.langDict_json || '{}' %>;
function SMS_T(k,f){ return SMS_T_DICT[k]||f||k; }

toastr.options = { closeButton:true, progressBar:true, positionClass:'toast-top-right', timeOut:5000 };
<% if (locals.flash_success) { %>
$(function(){ toastr.success("<%- (flash_success||'').replace(/"/g,'&quot;') %>"); });
<% } %>
<% if (locals.flash_error) { %>
$(function(){ toastr.error("<%- (flash_error||'').replace(/"/g,'&quot;') %>"); });
<% } %>
</script>

<!-- Common utilities load AFTER BASE_URL is defined -->
<script src="/js/common/location.js"></script>
<script src="/js/common/phone.js"></script>

<script src="https://accounts.google.com/gsi/client" async defer></script>

<%- block('scripts') %>
</body>
</html>
